html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100vh;
}

body {
     background-color: #000;
}

h1 {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #fff;
     font-size: 48px;
     font-family: 'Montserrat', sans-serif;
     font-weight: light;
     text-align: left;
}

.bg-image{

  /* The image used */
  /* background-image: url("hero4.jpg"); */

   /* Add the blur effect */
   /* filter: blur(5px); */
   /* -webkit-filter: blur(5px); */

   /* Removing white borders */
   /* height: 100vh; */
   /* width: 100vw; */

   /* Center and scale the image nicely */
   /* background-position: center; */
   /* background-repeat: no-repeat; */
   /* background-size: cover; */
   /* z-index: 0; */
}

.toggle-btn {
     position: fixed;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
     right: 0;
     z-index: 2;
}

span.one {
     position: absolute;
     width: 40px;
     height: 5px;
     background: #fff;
}

span.two {
     position: absolute;
     width: 40px;
     height: 5px;
     background: #fff;
     margin-top: 12px;
}

.menu {
     z-index: 1;
     position: absolute;
     background: #94a6b2;
     height: 100vh;
     width: 100%;
     top: -100%;
}

.data {
     padding: 8em 0 0 2em;
     text-align: left;
}

ul {
     list-style: none;
}

li:first-child {
     color: #fff;
     font-family: Poppins;
     font-size: 24px;
     opacity: 80%;
}

li:not(:first-child) {
     color: #fff;
     font-size: 42px;
}

a {
     text-decoration: none;
     color: #fff;
     font-family: Poppins;
}
